body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    margin: 0%;
}

*,
*:before,
*:after{box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0% auto;
}

.intro{
    width: 100%;
    height: 100vh;
    background: url("../assets/images/backg.jpg") center
    no-repeat;
    background-size:cover;
}

.header{
    width: 100%; 
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000;
}
.header_logo{
    background-image: url("../assets/images/logo.png") 
    no-repeat;
}   
 .nav_link{
     background: right no-repeat;
     background-size: 20;
 }